html {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
}

body {
  line-height: 1.4;
}

.container {
  width: 960px;
  margin: 0px auto;
}

.allcaps {
  text-transform: uppercase;
}
/* Start of Banner */
.banner {
  background-image: url("../../resources/images/glasses-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  width: auto;
  padding-top: 1rem;
}

header {
  display: flex;
  background-color: cadetblue;
  justify-content: space-between;
  align-items: center;
}

.head {
  display: inline-flex;
  padding: 1rem 2rem;
  align-items: center;
  color: white;
}

.logo {
  height: 1.5rem;
  width: auto;
  padding-right: 1rem;
}

a {
  padding-right: 2rem;
  text-decoration: none;
  color: white;
}

.headline {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 10rem;
  left: 2rem;
}

h1.allcaps {
  text-align: center;
  align-items: center;
  padding: 1.5rem 5rem;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}
/* End of Banner */

/* Start of Mission */
.icons {
  display: flex;
  justify-content: center;
}

.icon {
  display: inline-flex;
  flex-direction: column;
  padding: 3rem;
  height: 8rem;
  width: 5rem;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.icon img {
  width: 5rem;
  margin-bottom: 1rem;
}

#exam {
  width: 3.5rem;
}
/* End of Mission */

/* Start of About */
.about {
  display: flex;
  margin-bottom: 5rem;
  justify-content: center;
}

.item {
  width: 35%;
  display: inline-block;
  flex-direction: column;
  margin-right: 5%;

}

h2.allcaps {
  color: white;
  font-weight: bold;
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  width: 10rem;
  margin-bottom: 1rem;
}
/* End of About */

/* Start of Copyright */
.copyright {
  display: flex;
  color: black;
  background-color: azure;
  padding: 4rem;
  width: auto;
  justify-content: flex-start;
  align-items: center;
}
/* End of Copyright */
