html {
  font-size: 18px;
  color: white;
}

body {
  background-color: white;
  font-family: Helvetica, sans-serif;
}

.container {
  max-width: 960px;
  margin: 0px auto;
}

.allcaps {
  text-transform: uppercase;
}

h2, h3 {
  font-size: 1rem;
}

/* Start of header */
header {
  background-color: black;
  background-size: cover;
}

#top {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}

#logo {
  display: inline-block;
  height: 1.5rem;
  padding-right: 15px;
}

#name {
  display: inline-block;
  font-size: 1rem;
  padding: 0.66rem 0rem;
}
/* End of header */

/* Start of banner */
.banner {
  height: 25rem;
  background-image: url("../../resources/images/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner .container {
  padding-top: 9rem;
}

.textbox {
  width: 20rem;
  background-color: black;
  font-weight: bold;
  padding: 2rem 3rem;
  position: relative;
}

.banner h1 {
  font-size: 2rem;
  padding: 0.25rem 0rem;
}
/* End of banner */

/* Start of Nav */
nav {
  display: block;
  background-color: firebrick;
}

nav ul {
  display: flex;
  flex-direction: row;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;
  list-style: none;
}

li {
  display:
}
