/* Start of All */
html {
  font-size: 16px;
  font-family: sans-serif;
}

body {
  background-color: lightblue;
  line-height: 1.4;
}

.container {
  width: 64rem;
  margin: 0px auto;
}

.allcaps {
  text-transform: uppercase;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.75rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
}
/* End of All */

/* Start of Header */
header {
  display: flex;
  height: 4rem;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0rem 1.5rem;
}

strong {
  font-weight: 500;
}

nav {
  display: flex;
}

nav li {
  display: inline-flex;
  padding-left: 1rem;
}

nav a {
  text-decoration: none;
  color: black;
}
/* End of Header */

/* Start of Banner */
.banner {
  display: flex;
  background-color: lightgrey;
  align-items: center;
}

.banner img {
  width: 60%;
  height: 60%;
  margin: 2rem 1.5rem;
}

.banner-text {
  padding-left: 1rem;
  padding-right: 4rem;
}

.banner-text p {
  padding: 1rem 0rem;
  font-weight: 600;
}

.banner-text button {
  font-size: 1rem;
  color: white;
  background-color: black;
  border: none;
  padding: .5rem 6rem;
}
/* Start of Banner */
