/* Start of All */
html {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}

body {
  color: rgb(37, 48, 66);
  background-color: rgb(231, 233, 233);
  line-height: 1.4;
}

/* div {
  border: 1px solid black;
} */

.container {
  width: 64rem;
  margin: 0px auto;
}

.allcaps {
  text-transform: uppercase;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
}

h2 {
  font-size: 1.75rem;
  font-weight: 800;
}

h3 {
  font-size: 1.25rem;
  font-weight: 800;
}

p {

}

/* End of All */

/* Start of Header */
header {
  display: flex;
  position: fixed;
  width: 64rem;
  height: 4rem;
  z-index: 5;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

strong {
  font-weight: 700;
}

.header-title {
  padding-left: 1.5rem;
}

nav {
  display: flex;
  padding-right: 1.5rem;
}

nav li {
  display: inline-flex;
  padding-left: 1rem;
}

nav a {
  text-decoration: none;
  color: black;
}
/* End of Header */

/* Start of Banner */
.banner {
  padding-top: 4rem;
  display: flex;
  flex-direction: row;
  background-color: rgb(210, 213, 215);
  align-items: center;
}

.banner-img {
  width: 60%;
  padding: 2rem 1.5rem;
}

.banner-img img {
  width: 100%;
  height: auto;
}

.banner-text {
  max-width: 40%;
  padding: 1rem;
  padding-right: 6rem;
}

.banner-text h1 {
  max-width: 20rem;
}

.banner-text p {
  max-width: 15rem;
  padding: 1rem 0rem;
  margin-bottom: 1rem;
  font-weight: 600;
  line-height: 2;
}

.banner-text button {
  font-size: 1rem;
  color: white;
  background-color: rgb(37, 48, 66);
  border: none;
  padding: .5rem 6rem;
}
/* End of Banner */

/* Start of Information */
.information {
  display: flex;
  background-color: rgb(247, 250, 250);
}

.information p {
  font-size: .85rem;
  font-weight: 300;
}

.information a {
  font-size: .85rem;
  font-weight: 600;
  text-decoration: none;
  color: rgb(56, 190, 195);
}

.information span {
  font-size: .75rem;
  font-weight: 500;
}

.information-head {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 2rem 1.5rem;
}

.information-head img {
  width: 100%;
  height: auto;
}

.text {
  width: 97%;
}

.text h2 {
  padding-top: 1.5rem;
}

.text p {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.information-body {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  padding: 1rem 0rem;
}

.information-body .item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item img {
  max-width: 35%;
  height: auto;
  margin: 1rem;
}

.information-body .item-text {
  display: inline-flex;
  flex-direction: column;
}
/* End of Information */
