/* Start of All */
html {
  font-size: 16px;
  font-family: sans-serif;
}

body {
  background-color: lightblue;
  line-height: 1.4;
}

div {
  border: 1px solid black;
}

.container {
  width: 64rem;
  margin: 0px auto;
}

.allcaps {
  text-transform: uppercase;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.75rem;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

p {

}

/* End of All */

/* Start of Header */
header {
  display: flex;
  height: 4rem;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0rem 1.5rem;
}

strong {
  font-weight: 500;
}

nav {
  display: flex;
}

nav li {
  display: inline-flex;
  padding-left: 1rem;
}

nav a {
  text-decoration: none;
  color: black;
}
/* End of Header */

/* Start of Banner */
.banner {
  display: flex;
  flex-direction: row;
  background-color: lightgrey;
  align-items: center;
}

.banner-img {
  width: 60%;
  padding: 2rem 1.5rem;
}

.banner-img img {
  width: 100%;
  height: auto;
}

.banner-text {
  max-width: 40%;
  padding: 1rem;
  padding-right: 6rem;
}

.banner-text h1 {
  max-width: 20rem;
}

.banner-text p {
  max-width: 15rem;
  padding: 1rem 0rem;
  margin-bottom: 1rem;
  font-weight: 600;
  line-height: 2;
}

.banner-text button {
  font-size: 1rem;
  color: white;
  background-color: black;
  border: none;
  padding: .5rem 6rem;
}
/* End of Banner */

/* Start of Information */
.information {
  display: flex;
  background-color: white;
}

.information p {
  font-size: .85rem;
  font-weight: 200;
}

.information a,
.information span {
  font-size: .85rem;
  font-weight: 500;
  text-decoration: none;
}

.information-head {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 2rem 1.5rem;
}

.information-head img {
  width: 100%;
  height: auto;
}

.information-head .text {
  width: 90%;
}

.information-body {
  max-width: 40%;
  display: flex;
  flex-direction: column;
}

.information-body .item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item img {
  max-width: 35%;
  height: auto;
  margin: 1rem;
}

.information-body .item-text {
  display: inline-flex;
  flex-direction: column;
}
/* End of Information */
