body {
  font-family: "Helvetica", sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0;
}

header {
  display: flex;
  position: fixed;
  border-bottom: 1px solid seashell;
  background-color: black;
  height: 69px;
  width: 100%;
  z-index: 5;
  align-items: center;
}

.logo {
  display: inline-flex;
  padding-left: 10px;
  justify-content: flex-start;
}

header img {
  height: 50px;
}

nav {
  display: block;
  color: seashell;
  text-align: right;
  flex-grow: 1;
}

nav a {
  display: inline-block;
  padding: 20px 10px;
  color: inherit;
  text-decoration: underline;
}

.content {
  text-align: center;
  padding-top: 69px;
}

h2, h3, h4 {
  margin: 0px;
  padding: 10px;
}

#mission {
  display: inline-flex;
  background-image: url("../../resources/images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
}

#banner {
  background-color: black;
  display: block;
  width: 1200px;
}

#featured {
  padding: 50px 0px;
}

.choices {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1000px;
}

.option {
  margin: 0px 15px;
  padding: 10px 0px;
}

.pic {
  width: 300px;
  height: 200px;
}

#locations {
  display: inline-flex;
  background-image: url("../../resources/images/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
}
